<%- include('../partials/alertBar.ejs')%>  
<%- include('../partials/header.ejs')%>
<div class = "content">
    <h2>Welcome, <%=user.firstName%></h2>
        <%if(events.length) {%>
            <table>
                <tr>
                    <th>Title</th>
                    <th>Category</th>
                    <th>Actions</th>
                </tr>
            <p>You have created the following events</p>
            <%events.forEach(event => {%>
            <tr>
                <td><a href = '/events/<%= event.id%>'><p><%=event.title%></a></td>
                <td><%=event.category%></td>
                <td>
                    <form>
                        <button type = "submit" formmethod = "GET" formaction = "/events/<%= event.id%>/edit">Edit</button>
                        <button type = "submit" formmethod = "POST" formaction = "/events/<%= event.id%>?_method=DELETE">Delete</button>
                     </form>
                </td>
            </tr>
            <%});%>
        <%} else {%>
            <p>You have not created any events</p>
        <%}%>
    </table>
    <%if(rsvp.length){%>
        <table>
            <tr>
                <th>Title</th>
                <th>Category</th>
                <th>Going?</th>
            </tr>
        <p>You have RSVP'd to the following events</p>
        <%rsvp.forEach(rsvp => {%>
        <tr>
            <td><a href = '/events/<%= rsvp.eventID%>'><p><%=rsvp.eventTitle%></a></td>
            <td><%=rsvp.eventCategory%></td>
            <td>Yes</td>
        </tr>
        <%});%>
    <%} else {%>
        <p>You have not RSVP'd to any events</p>
    <%}%>
</table>
    </div>
    <%- include('../partials/footer.ejs')%>