<%- include('../partials/header.ejs')%>     
      <div class="leftContainer">
      </div>
      <div class="middleContainer">
        <h3 class="eventTitle"><%=event.title%></h3>
          <ul class="eventTop">
            <% if(event.image){%><img src=<%=event.image%>><%}%>
            <li class="host">Host: <%= event.host.firstName + ' ' + event.host.lastName%></li>
            <li class="date">Date: <%=event.date%></li>
            <li class="time">StartTime: <%=event.startTime%></li>
            <li class="time">EndTime: <%=event.endTime%></li>
            <li class="location">Location: <%=event.location%></li>
            <h3>Details</h3>
            <ul>
                <li><%=event.details%></li>
            </ul>
          </ul>
          <div class="eventBottom"></div>
      </div>  
      <div class="rightContainer">
        <form>
          <button type="submit" formmethod="GET" formaction="/events/<%=event.id%>/edit">Update</button>
          <button type="submit" formmethod="POST" formaction="/events/<%=event.id%>?_method=DELETE">Delete</button>
        </form>
      </div>
<%- include('../partials/footer.ejs')%>