<%- include('../partials/header.ejs')%>      
      <div class="leftContainer">
        <div class="displayEvents">
            <% if(events.length){ %>
                <h1>Select a event to learn more!</h1>
                <%for (item of categories.values()){%>
                    <h3><%=item%></h3>
                    <%events.forEach(event=>{%>
                        <% if(event.category == item){%>
                            <a href = "/events/<%=event.id%>"> <p><%= event.title %></p></a>
                        <%}%>
                    <%})%>
                <%}%> 
            <%} else{%><p>There are no connections to display</p><%}%>
        </div>
      </div>
      <div class="middleContainer">
      </div>  
      <div class="rightContainer"></div>
<%- include('../partials/footer.ejs')%>