<%- include('../partials/header.ejs')%>      
      <div class="leftContainer">
        <div class="displayEvents">
            <% if(events.length){ %>
                <h1>Select an event to learn more!</h1>
                <h3>Professional</h3>
                <%events.forEach(event=>{%>
                    <% if(event.category === 'professional'){ %>
                    <a href = "/events/<%=event.id%>"> <p><%= event.title %></p></a>
                    <%}%>
                <%})%>
                <h3>Social</h3>
                <%events.forEach(event=>{%>
                    <% if(event.category === 'social'){ %>
                    <a href = "/events/<%=event.id%>"> <p><%= event.title %></p></a>
                    <%}%>
                <%})%>
            <%} else{%><p>There are no connections to display</p><%}%>
        </div>
      </div>
      <div class="middleContainer">
      </div>  
      <div class="rightContainer"></div>
<%- include('../partials/footer.ejs')%>